{% extends 'producto/base.html' %}

{% load static %}

{% block content %}

{% for empresa in empresas %}

<div class="container">
	<div class="row">
		<div class="col-sm-7" id="info">
			<div class="row text-justify" id="parrafo">
				<h1>Quienes somos</h1>
				<br>
				
			</div>
			<div>
				<p>{{empresa.quienes_somos}}</p>
			</div>
		

			<div class="row" id="galeria">
				<div class="col-sm-12" style="text-align: center;"><h2><b>Novedades de Productos</b></h2> </div>
				{% for producto in productos %}

				<div class="gallery">
					<a target="_blank" href="#" data-toggle="modal" data-target="#myModal">
						<img src="{{producto.imagen.url}}" alt="Cinque Terre" width="600" height="400">
					</a>
					<div class="desc">{{producto.nombre}}</div>
					<div>{{producto.valor}}</div>
				</div>
				{% endfor %}

				
				<br>
				<br>
				<div class="col-sm-12 text-center">
					
					<a class="btn btn-info center-block" href="/productos/" role="button">Ver todos los productos</a> 
					
				</div>

				<br><br>
			</div>

		</div>
		<div class="col-sm-5">
			<br>
			<div id="insta">
				<script  src="https://apps.elfsight.com/p/platform.js" defer></script>
			<div class="elfsight-app-b93e63d9-933f-4927-bbfe-629001eedc9e"></div>
			</div>
			
			

			
		</div>
	</div>
    </div>
	{% endfor %}
	{% endblock %}


	