{% extends 'producto/base.html' %}

{% load static %}

{% block content %}



	<div class="container">
	<div class="row">

		<div class="col-sm-2">
			<div class="row " id="category">
				
				<h4><b>Categorias</b></h4>
				<ul>
					<li><a href="#">Categoria 1</a></li>
					<li><a href="#">Categoria 2</a></li>
					<li><a href="#">Categoria 3</a></li>
					<li><a href="#">Categoria 4</a></li>
				</ul>
				
			</div>
			

		</div>
		<div class="col-sm-10">  
			<div class="row" id="galeria2">
				<div class="col-sm-12" style="text-align: center;"><h2><b>Listado de Productos</b></h2> </div>
				<div class=" col-sm-12 searchbar">
					<input class="search_input" type="text" name="" placeholder="Busqueda de productos..." style="width: 100%; border-radius: 5px;">
					<a href="#" class="search_icon"><i class="fas fa-search"></i></a>
                </div>
                
                {% for producto in productos %}




				<div class="gallery rounded">
					<a target="_blank" href="./detalleProducto.html" >
						<img src="{{producto.imagen.url}}" alt="Cinque Terre" style="height: 210px">
					</a>
                    <div class="desc"><h5>{{producto.nombre}}</h5></div>
                    <div class="desc"><h6>{{producto.valor}}</h6></div>

				</div>
                {% endfor %}
				
				<br>
				<div class="col-sm-12 text-center">
					<a class="btn btn-info center-block" href="./html/productos.html" role="button">Ver mas productos</a>
					
				</div>

				<br><br>
			</div>

			
		</div>
	</div>
    </div>
    
    {% endblock %}
	